h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Sarabun';
  font-size: 150;
  color: white;
}

p {
  text-align: center;
  font-family: 'Roboto';
  font-size: 60;
  color: white;
}

input {
  text-align: center;
  font-size: 60;
  border-style: solid;
  color: white;
}

canvas {
  text-align: center;
}

body {
  background-image: url("Gradient-04.png");
}
